@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/graphics1.png);
  --custom-width: 100vw;
  --design-width: 1440;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

body {
  margin: 0px 0px;
  padding: 0px;
}

.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(1651 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

.nodeBg-058 {
  width: calc(1232.8789414363346 * var(--ratio));
  height: calc(712.324555404322 * var(--ratio));
  left: calc(-1.2596005026511135 * var(--ratio));
  top: calc(-130.90343363384662 * var(--ratio));

  max-width: fit-content;

  object-fit: cover;
  opacity: 1;
}

.nodeBg-061,
.nodeBg-062,
.nodeBg-04 {
  object-fit: cover;
  opacity: 1;
}

.nodeBg-08,
.nodeBg-06,
.nodeBg-07,
.nodeBg-014,
.nodeBg-023,
.nodeBg-030,
.nodeBg-037,
.nodeBg-017,
.nodeBg-025,
.nodeBg-032,
.nodeBg-039,
.nodeBg-019,
.nodeBg-027,
.nodeBg-034,
.nodeBg-041 {
  object-fit: contain;
  opacity: 1;
}

.c-6233374706-011-0,
.c-4807723405-010-0,
.jeanettewilsonc-09-0 {
  font-size: calc(24 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Inter;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #5686e1ff;
}

.whats-holding-y-059-0 {
  font-size: calc(60 * var(--ratio));

  line-height: calc(60 * var(--ratio));

  font-family: Inter;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ff6b1aff;
}

.jeanette-haney--051-0 {
  font-size: calc(48 * var(--ratio));

  line-height: calc(48 * var(--ratio));

  font-family: Inter;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.jeanette-haney--051-1 {
  font-size: calc(36 * var(--ratio));

  line-height: calc(36 * var(--ratio));

  font-family: Inter;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.nodeBg-054 {
  width: calc(221.59281452872284 * var(--ratio));
  height: calc(281.4163795534643 * var(--ratio));
  left: calc(-33.59281452872283 * var(--ratio));
  top: calc(-10.208199178423923 * var(--ratio));

  max-width: fit-content;

  object-fit: cover;
  opacity: 1;
}

.about-jeanette-055-0 {
  font-size: calc(20 * var(--ratio));

  line-height: calc(20 * var(--ratio));

  font-family: Inter;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.nodeBg-057 {
  opacity: 1;
  background-image: var(--image-0);
}

.born-in-easton--056-0 {
  font-size: calc(18 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Inter;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.certified-reiki-060-0 {
  font-size: calc(36 * var(--ratio));

  line-height: calc(36 * var(--ratio));

  font-family: Inter;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.skills-and-expe-050-0,
.third-degree-re-015-0,
.spiritual-respo-022-0,
.long-distance-h-029-0,
.clearing--readi-036-0,
.grief-counselin-046-0,
.hands-on-intuit-048-0,
.meditation clas-042-0,
.creative-visual-044-0,
.flower-essences-047-0,
.integrated-ener-049-0,
.finding-your-so-043-0,
.craniosacral-th-045-0,
.text-scale {
  font-size: calc(36 * var(--ratio));

  line-height: calc(36 * var(--ratio));

  font-family: Inter;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.nodeBg-052,
.nodeBg-053 {
  opacity: 1;
  background-image: var(--image-1);
}

.available-for-r-063-0 {
  font-size: calc(20 * var(--ratio));

  line-height: calc(20 * var(--ratio));

  font-family: Inter;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.para-scale {
  font-size: calc(20 * var(--ratio));

  line-height: calc(20 * var(--ratio));

  font-family: Inter;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}




.container {
  position: relative;
  overflow: hidden;
  /* Hide overflow to keep the black card hidden */
}

.red-card {
  cursor: pointer;
  background-color: red;
  /* width: 318px;
  height: 298px; */
  transition: background-color 0.3s;
  z-index: 2;
}

.black-card {
  background-color: black;
  color: white;
  /* width: 318px;
  height: 298px; */
  /* padding: 4% 4%; */
  position: absolute;
  bottom: -298px;
  transition: bottom 0.7s ease-in-out;
  z-index: 3;
}



.red-card:hover~.black-card {
  bottom: 0;
}














.card {
  position: relative;
  /* width: 318px;
  height: 298px; */
  width: 95%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-content {
  padding: 20px;
  background-color: white;
  z-index: 1;
  /* Keep the content above the description */
}

.properties {
  list-style: none;
  padding: 0;
}

.price {
  font-weight: bold;
}

.description {
  position: absolute;
  top: 100%;
  /* Start below the card */
  left: 0;
  right: 0;
  bottom: 0;
  /* Full height */
  background-color: black;
  color: white;
  padding: 5%;
  transition: top 0.7s ease;
  /* Animate position */
  z-index: 0;
  /* Ensure it’s behind the card content */
}

.card:hover .description {
  top: 0;
  /* Slide up on hover */
}